<div class="itemtab-grid">
  <div class="itemtab-leftside">
    <div class="item gear food" data-special="food" data-item-id="7V5siFO4iFYT1OI0">
      <div class="grid item-card">
        <div class="item-name jf-left">
          <i class="fas fa-utensils"></i>
          <a class="item-datacard item-name">{{localize 'AMADEUS.item.food'}}</a>
        </div>
        <div class="food-quantity">
          <input type="number" name="system.food" value="{{system.food}}" data-type="Number" /> {{localize 'AMADEUS.label.countunit'}}
        </div>
        
        <div class="item-damage">
          <a class="damage-formula" data-rolltype="item" data-roll="1D6">1D6</a>
        </div>
        
        <div class="item-controls">
          <i class="fas fa-caret-down open-item"></i>
        </div>
      </div>
      <div class="item-hidden content-hidden">
        <div class="item-effect">
          {{localize 'AMADEUS.item.foodeffect'}}
        </div>
      </div>
    </div>
    {{#each inventory as |item key|}}
    <div class="item gear" data-item-id="{{item._id}}">
      <div class="grid item-card">
        <div class="item-datacard item-name jf-left">
          <i class="{{#if item.system.action.roll}} item-rollcard fas fa-dice {{else}} item-notroll fas fa-square {{/if}}"
             data-ability="{{item.system.action.roll}}"></i>
          <a class="item-name">{{item.name}}</a>
        </div>
        
        <div class="item-type">{{!-- 두번째줄: 분류 | 조건 | 기능 --}}
          {{localize @item.system.type}}
        </div>
        
        <div class="item-damage">
          <a class="damage-formula" data-rolltype="item" data-roll="{{item.system.action.damage}}">{{item.system.action.damage}}</a>
        </div>
        
        <div class="item-controls">
          <i class="fas fa-caret-down open-item"></i>
          <a class="item-control item-edit" title="새 창"><i class="fas fa-up-right-from-square"></i></a>
          {{#if @root.editable}}<a class="item-control item-delete" title="삭제"><i class="fas fa-trash"></i></a>{{/if}}
        </div>
      </div>
      <div class="item-hidden content-hidden">
        <div class="item-effect">
          {{{item.system.effect}}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  
  
  <div class="itemtab-rightside">
    <div class="sidebar-rtb flexcol">
      <div class="rtb-header">
        롤테이블
      </div>
      <a class="amd-rolltable" data-rtid="EroSbTqlikS55Zp5"><button type="button">시련표</button></a>
      <a class="amd-rolltable" data-rtid="IkNCphhCNk3Bx0yj"><button type="button">휴식표</button></a>
      <button type="button">롤테이블</button>
      <button type="button">롤테이블</button>
    </div>
  </div>
</div>
