<div class="gift-grid">
    {{#each gifts as |gift key|}}
    <div class="item gift" data-item-id="{{gift._id}}">
        <div class="gift-card"> {{!--  --}}
            <div class="gift-name">{{!-- 첫줄: 기프트명   |버튼  --}}
                <i class="{{#if gift.system.action.roll}} item-rollcard fas fa-dice {{else}} item-notroll fas fa-square {{/if}}"
                   data-ability="{{gift.system.action.roll}}"></i>
                <a class="item-datacard gift-name">  {{gift.name}}</a>
                <i class="{{#if gift.system.chkbox}}fas fa-fire {{else}}fa-light fa-fire {{/if}} item-chk" ></i>
            </div>
            <div class="gift-check gift-controls">
                <input type="checkbox" class="item-chk" data-path="system.chkbox" name="gift.system.chkbox" {{checked gift.system.chkbox}}>
                <i class="fas fa-caret-down open-gift"></i>
                <a class="item-control item-edit" title="수정"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="삭제"><i class="fas fa-trash"></i></a>
            </div>

            <div class="gift-type">{{!-- 두번째줄: 분류 | 조건 | 기능 --}}
                {{localize @gift.system.type}}
            </div>
            <div class="gift-requirement">
                {{gift.system.requirement}}
            </div>
            <div class="gift-abl roll-abl">
                {{localize @gift.system.action.roll}}
            </div>
            <div class="gift-hidden content-hidden">
                <div class="gift-effect">
                    {{{gift.system.effect}}}
                </div>
                <div class="gift-tag">{{!-- 세번째줄: 태그   --}}
                    <label class="gift-lbl">태그</label>
                    {{gift.system.tag}}
                </div>
                <div class="gift-formula">
                    <label>수식</label>{{!-- 마지막줄:수식 --}}
                    <textarea class="gift-formula" data-path="system.formula">{{gift.system.formula}}</textarea>
                </div>
                <div class="gift-memo">
                    <label>메모</label>{{!-- 마지막줄:메모 --}}
                    <input type="text" class="gift-memo" data-path="system.memo" value="{{gift.system.memo}}">
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
