<div class="bond-grid">
    <div class="bond-header">
      인물
    </div>
    <div class="bond-top">
    {{#each bonds as |bond key|}}
    <div class="item bond" data-item-id="{{bond._id}}">
      <div class="grid bond-card">
        <div class="bond-name">
          <input type="checkbox" />
          {{bond.system.name}}
        </div>
        <div class="bond-truth">
          <input type="checkbox" />
        </div>
        <div class="bond-score">
          {{bond.system.score}}
        </div>
        <div class="bond-relationship">
          {{bond.system.relationship}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="supporter-header">
    협력자
  </div>
  <div class="bond-bottom">
    {{#each supporters as |supporter key|}}
    <div class="item supporter" data-itme-id="{{supporter._id}}">
      <div class="grid supporter-card">
        <div class="supporter-name">
          <input type="checkbox" />
          {{supporter.system.name}}
        </div>
        <div class="supporter-score">
          {{supporter.system.score}}
        </div>
        <div class="supporter-relationship">
          {{supporter.system.relationship}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>

</div>
