<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
{{!--기본 크기 가로 660 정도 --}}
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="grid actor-sheet-header">
        <div class="profile-img">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="160" width="160"/>
        </div>
        <div class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'AMADEUS.label.name'}}"/></div>
        <div class="actor-color">
          <label class="chardata-color-label">{{localize 'AMADEUS.label.color'}}</label>
          <div class="actor-color-select">
            <select name="system.color">
            {{#select system.color}}
              <optgroup>
            {{#each config.color as |value key|}}
              <option value="{{value}}">{{localize value}}</option>
            {{/each}}
              </optgroup>
            {{/select}}
            </select>
          </div>
        </div>
        <div class="parent-img">
          <img class="parent-img" src="{{system.chardata.parentimg}}" data-edit="system.chardata.parentimg" title="{{system.chardata.parent}}" height="120" width="120"/>
        </div>
        <div class="chardata job">
          <label class="chardata-label">{{localize 'AMADEUS.label.job'}}</label>
          <input type="checkbox" class="pathos" id="job.{{actor._id}}" name="system.job.chkbox" {{checked system.job.chkbox}}>
          <label for="job.{{actor._id}}" class="pathos {{#if system.job.chkbox}}pathos-on{{else}}pathos-off{{/if}}"></label>
          <input type="text" name="system.chardata.job.name" value="{{system.chardata.job.name}}"/>
        </div>
        <div class="chardata pantheon">
          <label class="chardata-label">{{localize 'AMADEUS.label.pantheon'}}</label>
          <input type="text" name="system.chardata.pantheon" value="{{system.chardata.pantheon}}"/>
        </div>
        <div class="chardata parent-name">
          <label class="chardata-label">{{localize 'AMADEUS.label.parent'}}</label>
          <input type="text" name="system.chardata.parent" value="{{system.chardata.parent}}"/>
        </div>
        <div class="chardata">
          <label class="chardata-label">{{localize 'AMADEUS.label.background'}}</label>
          <input type="text" name="system.chardata.background" value="{{system.chardata.background}}"/>
        </div>
        <div class="chardata">
          <label class="chardata-label">{{localize 'AMADEUS.label.prophecy'}}</label>
          <input type="text" name="system.chardata.prophecy" value="{{system.chardata.prophecy}}"/>
        </div>
        <div class="chardata">
          <label class="chardata-label">{{localize 'AMADEUS.label.relationship'}}</label>
          <input type="text" name="system.chardata.relationship" value="{{system.chardata.relationship}}"/>
        </div>
        <div class="chardata">
          <label class="chardata-label">{{localize 'AMADEUS.label.money'}}</label>
          <input type="text" name="system.money" value="{{system.money}}" placeholder="{{system.initMoney}}"/>
        </div>
        <div class="chardata">
          <label class="chardata-label">{{localize 'AMADEUS.label.level'}}</label>
          <input type="number" name="system.level" value="{{system.level}}"/>
        </div>
        <div class="chardata">
          <label class="chardata-label">{{localize 'AMADEUS.label.exp'}}</label>
          <input type="number" name="system.exp" value="{{system.exp}}"/>
        </div>
      </div>
    </div>
  </header>

  <section class="grid grid-6col">
    <section class="grid-span-1">
      {{!-- 좌측바 --}}
      <aside class="sidebar">
        <div class="abilities">
          {{#each system.ability as |ability key|}}
          <div class="ability-grid">
            <div class="ability-label">
              <span class="ability-label amade-abl-roll"
                     data-ability="{{key}}"
                     data-label="{{ability.label}}">{{ability.label}}</span>
            </div>
            <div class="ability-value">
              <select name="system.ability.{{key}}.rank">
                {{#select ability.rank}}
                <optgroup>
                {{#each ../config.rank as |number letter|}}
                  <option value="{{letter}}">{{letter}}</option>
                {{/each}}
                </optgroup>
                {{/select}}
              </select>
            </div>
            <div class="ability-mod">
              <select name="system.ability.{{key}}.mod">
                {{#select ability.mod}}
                <optgroup>
                {{#each ../config.modL as |number letter|}}
                  <option value="{{letter}}">{{letter}}</option>
                {{/each}}
                </optgroup>
                {{/select}}
              </select>
            </div>
          </div>
          {{/each}}
        </div>

      </aside>
    </section>

    <section class="grid-span-5">
      <div class="grid chardata-group-bottom">
        <div class="left-side">
          <div class="grid dchp-grid">
            <div class="chardata actor-dc">
              <div class="dchp-label">{{localize 'AMADEUS.label.dc'}}</div>
              <input type="number" name="system.dc" value="{{system.dc}}"/>
            </div>
            <div class="chardata actor-hp">
              <div class="dchp-label">{{localize 'AMADEUS.label.health'}}</div>
              <input type="number" name="system.health.value" value="{{system.health.value}}" data-dtype="Number">
              <div class="divider">/</div>
            </div>
            <div class="actor-hp-max">
              <input type="number" class="min" name="system.health.max" value="{{system.health.max}}" placeholder="{{system.calcHealth}}" data-dtype="Number"/>
            </div>
            <div class="hp-vital flexrow flex-group-center">
              <div class="chardata init-health">
                <label class="wid-auto">{{localize 'AMADEUS.label.inithealth'}}</label> {{system.initHealth}}</div>
              <div class="chardata vitality">
                <label>{{localize 'AMADEUS.label.vitality'}}</label>
                <a class="vitality-roll" data-roll="{{system.level}}d6" data-label="{{localize 'AMADEUS.roll.vitality'}}">
                  <i class="fas fa-dice"></i></a>
                <input type="number" class="min" name="system.vitality" value="{{system.vitality}}"/>
              </div>
            </div>
          </div>
        </div>
        <div class="middle-side"></div>
        <div class="right-side">{{!-- 상태이상--}}
          <div class="grid badstatus-grid">
            <div class="badstatus {{checked system.status.desperation}}">
              <input type="checkbox" class="badstatus" id="bs1.{{actor._id}}"
                     name="system.status.desperation" {{checked system.status.desperation}} />
              <label for="bs1.{{actor._id}}" class="badstatus">
                <i class="fas fa-dice-one color-d1"></i> {{localize 'AMADEUS.badstatus.desperation'}}</label>
            </div>
            <div class="badstatus {{checked system.status.fury}}">
              <input type="checkbox" class="badstatus" id="bs2.{{actor._id}}"
                     name="system.status.fury" {{checked system.status.fury}} />
              <label for="bs2.{{actor._id}}" class="badstatus">
                <i class="fas fa-dice-two color-d2"></i> {{localize 'AMADEUS.badstatus.fury'}}</label>
            </div>
            <div class="badstatus {{checked system.status.coward.chkbox}} bs-num">
              <input type="checkbox" class="badstatus" id="bs3.{{actor._id}}"
                     name="system.status.coward.chkbox" {{checked system.status.coward.chkbox}} />
              <label for="bs3.{{actor._id}}" class="badstatus">
                <i class="fas fa-dice-three color-d3"></i> {{localize 'AMADEUS.badstatus.coward'}}</label>
              <input type="number" class="bs-input  {{checked system.status.coward.chkbox}}" name="system.status.coward.level" value="{{system.status.coward.level}}" />
            </div>
            <div class="badstatus {{checked system.status.depravity}}">
              <input type="checkbox" class="badstatus" id="bs4.{{actor._id}}"
                     name="system.status.depravity" {{checked system.status.depravity}} />
              <label for="bs4.{{actor._id}}" class="badstatus">
                <i class="fas fa-dice-four color-d4"></i> {{localize 'AMADEUS.badstatus.depravity'}}</label>
            </div>
            <div class="badstatus {{checked system.status.disgrace}}">
              <input type="checkbox" class="badstatus" id="bs5.{{actor._id}}"
                     name="system.status.disgrace" {{checked system.status.disgrace}} />
              <label for="bs5.{{actor._id}}" class="badstatus">
                <i class="fas fa-dice-five color-d5"></i> {{localize 'AMADEUS.badstatus.disgrace'}}</label>
            </div>
            <div class="badstatus {{checked system.status.wound.chkbox}} bs-num">
              <input type="checkbox" class="badstatus" id="bs6.{{actor._id}}"
                     name="system.status.wound.chkbox" {{checked system.status.wound.chkbox}} />
              <label for="bs6.{{actor._id}}" class="badstatus">
                <i class="fas fa-dice-six color-d6"></i> {{localize 'AMADEUS.badstatus.wound'}}</label>
              <input type="number" class="bs-input {{checked system.status.wound.chkbox}}" name="system.status.wound.level" value="{{system.status.wound.level}}" />
            </div>
          </div>
        </div>
        <div class="memo-side">
          <textarea name="system.memo" class="actor-memo">{{system.memo}}</textarea>
        </div>
      </div>


      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="item">{{localize 'AMADEUS.menu.item'}}</a>
        <a class="item" data-tab="gift">{{localize 'AMADEUS.menu.gift'}}</a>
        <a class="item" data-tab="bond">{{localize 'AMADEUS.menu.bond'}}</a>
        <a class="item" data-tab="features">{{localize 'AMADEUS.menu.features'}}</a>
      </nav>
      {{!-- Sheet Body --}}
      <section class="sheet-body">
        <div class="tab item" data-group="primary" data-tab="item">
          {{> "systems/amadeus/templates/actor/parts/actor-item.html"}}
        </div>
        <div class="tab gift" data-group="primary" data-tab="gift">
          {{!-- If you want TinyMCE editors to output inline rolls when rendered, you need to pass the actor's roll data to the rollData property. --}}
          {{> "systems/amadeus/templates/actor/parts/actor-gift.html"}}
        </div>
        <div class="tab bond" data-group="primary" data-tab="bond">
            {{> "systems/amadeus/templates/actor/parts/actor-bond.html"}}
        </div>
        <div class="tab item" data-group="primary" data-tab="features">
          {{> "systems/amadeus/templates/actor/parts/actor-features.html"}}
        </div>
      </section>
    </section>
  </section>
</form>

<!-- input은 80px정도로 float:right-->
