<div class="plot-gm-panel">
  <div class="plot-gm-controls">
    {{#if active}}
      <button type="button" data-action="rerequest">{{localize "AMADEUS.initiative.rerequest"}}</button>
      <button type="button" data-action="reveal">{{localize "AMADEUS.initiative.reveal"}}</button>
      <button type="button" data-action="reset">{{localize "AMADEUS.initiative.reset"}}</button>
    {{else}}
      <button type="button" data-action="start">{{localize "AMADEUS.initiative.start"}}</button>
    {{/if}}
  </div>

  <table class="plot-gm-roster">
    <tbody>
      {{#each participants as |p|}}
      <tr data-actor-id="{{p.actorId}}">
        <td class="plot-p-name">{{p.name}}</td>
        <td class="plot-p-type">{{#if p.isNPC}}{{localize "AMADEUS.initiative.npc"}}{{else}}{{localize "AMADEUS.initiative.pc"}}{{/if}}</td>
        <td class="plot-p-value">
          {{#if p.isNPC}}
            <div class="plot-npc-dice">
              {{#each ../dice as |n|}}
              <button type="button" class="plot-npc-die{{#if (eq n p.value)}} selected{{/if}}" data-action="setNpc" data-actor-id="{{p.actorId}}" data-value="{{n}}">{{n}}</button>
              {{/each}}
            </div>
          {{else}}
            {{#if p.submitted}}<span class="plot-p-submitted">{{p.value}}</span>{{else}}<span class="plot-p-pending">{{localize "AMADEUS.initiative.pending"}}</span>{{/if}}
          {{/if}}
        </td>
        <td class="plot-p-remove"><a data-action="removeParticipant" data-actor-id="{{p.actorId}}"><i class="fas fa-times"></i></a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <div class="plot-gm-addnpc">
    <select class="plot-npc-select">
      <option value="">{{localize "AMADEUS.initiative.addNpc"}}</option>
      {{#each npcChoices as |npc|}}<option value="{{npc.id}}">{{npc.name}}</option>{{/each}}
    </select>
    <button type="button" data-action="addNpc">{{localize "AMADEUS.initiative.addNpc"}}</button>
  </div>

  {{#if revealed}}
  <ol class="plot-gm-order">
    {{#each order as |slot|}}
    <li><span class="plot-rank">{{slot.rank}}</span> <span class="plot-value">[{{slot.value}}]</span> {{#each slot.members as |m|}}{{m.name}}{{#unless @last}}, {{/unless}}{{/each}}</li>
    {{/each}}
  </ol>
  {{/if}}
</div>
