<div class='gift-chatcard flexcol'>
    <div class='gift-name'>{{name}}</div>
    <div class='gift-detail grid grid-3col'>
        <div class='gift-type grid-span-1'>
            {{type}}</div>
        <div class='gift-requirement grid-span-1'>
            {{requirement}}</div>
        <div class='gift-ability grid-span-1'>
            <a class='gift-abl-roll'>
                {{ability}}
            </a>
        </div>
    </div>
    <div class='gift-tag'>{{tag}}</div>
    <div class='gift-description'>{{desc}}
    </div>
</div>