<div class="chatcard gift-chatcard">
  <div class="grid data-gift-chatcard-top">
    <div class="gift-name">{{name}}</div>
    <div class="gift-type">{{type}}</div>
    <div class="gift-requirement">{{requirement}}</div>
    <div class="gift-ability">
      <a class="gift-abl-roll">{{roll}}</a>
    </div>
  </div>
  <div class="data-gift-chatcard-bottom">
    <div class="gift-effect">{{{effect}}}</div>
    <div class="gift-tag">
      <label class="gift-tag-lbl">{{localize 'AMADEUS.gift.tag'}}</label>
      {{tag}}
    </div>
  </div>
</div>