<div class="chatcard amade-dicecard text-align">
  <div class="roll-abl-chatcard">
    <div class="roll-header">
      <div class="abl-name">{{label}} 판정</div>
      <div class="roll-dc">
        <div class="item-lbl">목표치</div>
        <div>{{rollDC}}</div>
        </div>
      <div class="rank">
        <div class="item-lbl">랭크</div>
        <div>{{rank}}</div>
      </div>
      <div class="mod">
        <div class="item-lbl">모드</div>
        <div>{{mod}}</div>
      </div>
    </div>
    <div class="diceset-area flexrow align-center">
      {{#each resultDiceset}}
      <div class="die-result flexcol">
        <div class="die-area">
          <i class="amade-d6 dNum-{{this}} fa-duotone fa-square-{{this}}"></i>
        </div>
        <div class="modval-format">{{formatModVal ../modVal}}</div>
        {{successCheck this ../modVal ../rollDC}}
        <div class="roll-result-text">{{resultText}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>


<!--다이스 사이즈는 60*60, font-size : 3rem-->
<!--카드 클릭으로 판정 선택 다이스 활성화 / 인과 선택 메뉴 가능하면 구현-->
