<div class="amadeus-chat chatcard amade-dicecard">
  <div class="chat-inner">
    <header class="chat-title">
      <i class="fa-solid fa-hand-fist chat-title-icon"></i>
      <span class="chat-title-text">{{label}} 판정</span>
    </header>
    <div class="chat-ornament" aria-hidden="true">
      <span class="chat-ornament-line chat-ornament-line--l"></span>
      <i class="fa-solid fa-diamond chat-ornament-dot"></i>
      <i class="fa-solid fa-dice-d20 chat-ornament-icon"></i>
      <i class="fa-solid fa-diamond chat-ornament-dot"></i>
      <span class="chat-ornament-line chat-ornament-line--r"></span>
    </div>
    <div class="chat-chips">
      <div class="chat-chip">
        <span class="chat-chip-lbl">목표치</span>
        <span class="chat-chip-val lnum">{{rollDC}}</span>
      </div>
      <div class="chat-chip">
        <span class="chat-chip-lbl">랭크</span>
        <span class="chat-chip-val">{{rank}}</span>
      </div>
      <div class="chat-chip">
        <span class="chat-chip-lbl">모드</span>
        <span class="chat-chip-val">{{mod}}</span>
      </div>
    </div>
    <div class="chat-diceset">
      {{#each resultDiceset}}
      <div class="chat-die-col{{#if this.disabled}} chat-die-col--disabled{{/if}}">
        <div class="chat-die-chip chat-die-chip--{{this.value}}">
          <span class="chat-die-num lnum">{{this.value}}</span>
        </div>
        <div class="chat-die-mod">{{formatModVal ../modVal}}</div>
        <div class="chat-die-result">{{#if this.disabled}}사용 불가{{else}}{{successCheck this.value ../modVal ../rollDC}}{{/if}}</div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
