//.sheet.item section.window-content{background:$color-bg;}
.gift-sheet {
  label {padding : 3px;}
  .gift-sheet-header {
    padding               : 2px;
    grid-template-columns : 1fr 2fr 1fr;

    > div {
      //border: 1px solid #999;
      @extend .total-center;
      padding : 5px;
      label {flex-shrink : 0;}
      select, input {flex-grow : 1;}
    }

    .gift-sheet-name {
      grid-column : 1 / span 3;
      grid-row    : 1 / span 1;

      .gift-sheet-chkbox {display : none;}

      label { font-weight : bold;}
    }
  }

  .gift-sheet-body {
    .gift-effect {
      height           : 200px;
      background-color : rgba(255, 255, 255, 0.3);
      margin           : 10px;
      border: 1px solid #999;
      border-radius    : 15px;
      padding          : 15px;
    }

    .gift-description {
      height           : 100px;
      background-color : rgba(255, 255, 255, 0.3);
      margin           : 10px;
      border: 1px solid #999;
      border-radius    : 10px;
      padding          : 10px;
    }

    .gift-tag, .gift-memo, .gift-formula { @extend .total-center;
      label {flex-shrink : 0;}
      input {flex-grow : 1;}
      padding:4px;
    }
  }
}

.gear-sheet{
  label {padding : 3px;}
  .item-sheet-header {
    padding               : 2px;
    grid-template-columns : 1fr 1fr 1fr;

    > div {
      @extend .total-center;
      padding : 5px;

      label {flex-shrink : 0;}

      select, input {flex-grow : 1;}
    }

    .item-sheet-name {
      grid-column : 1 / span 3;
      grid-row    : 1 / span 1;
    }
  }
  .item-sheet-body{
    .item-effect {
      height           : 200px;
      background-color : rgba(255, 255, 255, 0.3);
      margin           : 10px;
      border: 1px solid #999;
      border-radius    : 15px;
      padding          : 15px;
    }

    .item-description {
      height           : 100px;
      background-color : rgba(255, 255, 255, 0.3);
      margin           : 10px;
      border: 1px solid #999;
      border-radius    : 10px;
      padding          : 10px;
    }
  }
}

.parent-sheet{
  label {padding : 3px;}
  .parent-sheet-body{
    grid-template-columns: 130px 1fr 1fr;
    >div{
      @extend .total-center;
      padding:3px;
    }
    label {flex-shrink : 0;}
    select, input {flex-grow : 1;}
  }
  .parent-sheet-name{
    grid-column : 2 / span 2;
    grid-row : 1/ span 1;
  }

  .grid.parent-sheet-ability-grid {
    display: grid;
    div{
      display:flex;
      justify-content: center;
      flex-direction: column;
      text-align:center;
      align-items:stretch;
      padding:3px;
      .parent-ability-label{font-weight: bold;}
    }
  }
  .parent-sheet-ability-grid{
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    grid-template-columns: repeat(6, 1fr);
  }
  .parent-image{
    grid-column: 1 / span 1;
    grid-row : 5 / span 1;
    height:auto;
  }
  .parent-portrait{
    grid-column: 1 / span 1;
    grid-row : 1 / span 3;
    height:auto;
  }
  .parent-sheet-description{
    grid-column:2 / span 2;
    grid-row: 5 / span 2;
    height:300px;
    .parent-description{
      height: 100%;
      width: 100%;
      border:1px solid #999;
      padding:3px;
      border-radius:5px;
    }
  }
}