<div class="item treasure-sheet" data-item-id="{{item._id}}">
  <div class="treasure-sheet-title">
    <input type="text" name="name" class="trasure-name" value="{{item.name}}" placeholder="{{localize 'AMADEUS.label.itemName'}}" />
  </div>
  <div class="treasure-sheet-body">
    <p class="treasure-body">
      {{#if editable}}<prose-mirror name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>{{else}}{{{enrichedDescription}}}{{/if}}
    </p>
  </div>
</div>
