{{!-- 기어 아이템 시트 (AppV2). weapon 과 동일 스키마(가격/분류/위력 + 효과/설명). --}}
<div class="sheet-inner item-sheet item-equip">
  <div class="it-accent" aria-hidden="true"></div>
  <div class="it-pad">
    <div class="it-eyebrow"><i class="fa-solid fa-toolbox"></i><span>기어</span></div>

    <input class="it-name" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'AMADEUS.label.itemName'}}"/>

    <div class="it-row">
      <span class="it-lbl">{{localize 'AMADEUS.item.price'}}</span>
      <input class="it-num" type="text" name="system.price" value="{{system.price}}"/>
      <span class="it-lbl">{{localize 'AMADEUS.item.type'}}</span>
      <select name="system.type">{{selectOptions label.itemType selected=system.type}}</select>
      <span class="it-lbl">{{localize 'AMADEUS.item.power'}}</span>
      <input class="it-grow" type="text" name="system.action.damage" value="{{system.action.damage}}"/>
    </div>

    <div class="it-ed-group">
      <span class="it-lbl">효과</span>
      <div class="it-editor" title="효과">
        {{#if editable}}<prose-mirror name="system.effect" value="{{system.effect}}" toggled>{{{enrichedEffect}}}</prose-mirror>{{else}}{{{enrichedEffect}}}{{/if}}
      </div>
    </div>
    <div class="it-ed-group">
      <span class="it-lbl">설명</span>
      <div class="it-editor it-editor--sm" title="설명">
        {{#if editable}}<prose-mirror name="system.description" value="{{system.description}}" toggled>{{{enrichedDescription}}}</prose-mirror>{{else}}{{{enrichedDescription}}}{{/if}}
      </div>
    </div>
  </div>
</div>
