<div class="parent-sheet">
  <div class="item grid parent-sheet-body" data-item-id="{{item._id}}">
    <div class="parent-image">
      <img class="parent-image"
           src="{{item.img}}" data-edit="img" height="120" width="120"/>
    </div>
    <div class="parent-sheet-name flex-center">
      <input type="text" name="name" value="{{item.name}}" placeholder="Name"/>
    </div>
    <div class="parent-sheet-color">
      <label class="item-lbl">{{localize 'AMADEUS.label.color'}}</label>
      <select name="system.color">
        {{selectOptions label.color selected=system.color}}
      </select>
    </div>
    <div class="parent-sheet-pantheon">
      <input type="text" name="system.pantheon" value="{{system.pantheon}}"/>
      <label class="item-lbl">{{localize 'AMADEUS.label.pantheon'}}</label>
    </div>
    <div class="parent-sheet-weapon">
      <label class="item-lbl">{{localize 'AMADEUS.parent.weapon'}}</label>
      <input type="text" name="system.weapon" value="{{system.weapon}}"/>
    </div>
    <div class="parent-sheet-authority">
      <label class="item-lbl">{{localize 'AMADEUS.parent.authority'}}</label>
      <input type="text" name="system.authority" value="{{system.authority}}"/>
    </div>

    <div class="grid parent-sheet-ability-grid">
      {{#each system.ability as |ability key|}}
      <div class="parent-ability">
        <div class="parent-ability-label">
          {{localize (lookup ../config.ability key)}}
        </div>
        <div class="parent-ability-rank">
          <select name="system.ability.{{key}}.rank">
            {{selectOptions ../label.rank selected=ability.rank}}
          </select>
        </div>
        <div class="parent-ability-mod">
          <select name="system.ability.{{key}}.mod">
            {{selectOptions ../label.mod selected=ability.mod}}
          </select>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="parent-portrait">
      <img class="parent-portrait"
           src="{{system.portrait}}" data-edit="system.portrait"/>
    </div>
    <div class="parent-sheet-description">
      <div class="parent-description">
        {{#if editable}}<prose-mirror name="system.description" value="{{system.description}}">{{{enrichedDescription}}}</prose-mirror>{{else}}{{{enrichedDescription}}}{{/if}}
      </div>
    </div>
  </div>
</div>
