<div class="weapon-sheet">
  <div class="sheet-header">
    <div class="item grid item-sheet-header" data-item-id="{{item._id}}">
      <div class="item-sheet-name flex-center">
        <input name="name" type="text" value="{{item.name}}" placeholder="아이템명"/>
      </div>
      <div class="item-price">
        <label class="item-lbl">{{localize 'AMADEUS.item.price'}}</label>
        <input type="text" name="system.price" value="{{system.price}}"/>
      </div>
      <div class="item-sheet-type">
        <label class="item-lbl">{{localize 'AMADEUS.item.type'}}</label>
        <select name="system.type">
          {{selectOptions label.itemType selected=system.type}}
        </select>
      </div>
      <div class="item-damage">
        <label class="item-lbl">{{localize 'AMADEUS.item.power'}}</label>
        <input type="text" name="system.action.damage" value="{{system.action.damage}}"/>
      </div>
    </div>
  </div>
  <div class="item-sheet-body">
    <div class="item item-sheet-body" data-item-id="{{item._id}}">
      <div class="item-effect">
        {{#if editable}}<prose-mirror name="system.effect" value="{{system.effect}}" toggled>{{{enrichedEffect}}}</prose-mirror>{{else}}{{{enrichedEffect}}}{{/if}}
      </div>
      <div class="item-description">{{!-- 설명 --}}
        {{#if editable}}<prose-mirror name="system.description" value="{{system.description}}" toggled>{{{enrichedDescription}}}</prose-mirror>{{else}}{{{enrichedDescription}}}{{/if}}
      </div>
    </div>
  </div>
</div>
