<form class="{{cssClass}}" autocomplete="off">
  <div class="gear-sheet">
    <div class="sheet-header">
      <div class="item grid item-sheet-header" data-item-id="{{data._id}}">
        <div class="item-sheet-name flex-center">
          <input name="name" type="text" value="{{item.name}}" placeholder="아이템명"/>
        </div>
        <div class="item-price">
          <label class="item-lbl">{{localize 'AMADEUS.item.price'}}</label>
          <input type="text" name="system.price" value="{{system.price}}"/>
        </div>
        <div class="item-sheet-type">
          <label class="item-lbl">{{localize 'AMADEUS.item.type'}}</label>
          <select name="system.type">
            {{#select system.type}}
              <option value="AMADEUS.item.consume">{{localize 'AMADEUS.item.consume'}}</option>
              <option value="AMADEUS.item.equip">{{localize 'AMADEUS.item.equip'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="item-damage">
          <label class="item-lbl">{{localize 'AMADEUS.item.power'}}</label>
            <input type="text" name="system.action.damage" value="{{system.action.damage}}"/>
        </div>
      </div>
    </div>
    <div class="item-sheet-body">
      <div class="item item-sheet-body" data-item-id="{{data._id}}">
        <div class="item-effect">
          {{editor system.effect target="system.effect" button=true editable=editable}}
        </div>
        <div class="item-description">{{!-- 설명 --}}
          {{editor system.description target="system.description" button=true editable=editable}}
        </div>
      </div>
    </div>
  </div>
</form>
